USE [master]
GO
/****** Object:  Database [ahorcado]    Script Date: 11/6/2026 08:57:04 ******/
CREATE DATABASE [ahorcado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ahorcado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ahorcado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ahorcado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ahorcado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ahorcado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ahorcado]
GO
/****** Object:  User [alumno]    Script Date: 11/6/2026 08:57:04 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 11/6/2026 08:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Palabras] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Palabras] ON 

INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (1, N'petricor')
INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (2, N'ataraxia')
INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (3, N'megalovania')
SET IDENTITY_INSERT [dbo].[Palabras] OFF
GO
USE [master]
GO
